
#panoramaViewerDiv {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#zoomWarningDiv {
    z-index: 100;
    top: 50%;
    position: absolute;
    width: 50%;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    margin-top: -25px;
}
.jimu-widget-streetsmartview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.jimu-widget-frame.jimu-container{
    padding:0px; !important;
}

.jimu-on-screen-widget-panel>.jimu-panel-title{
    background-color: #98C23C; !important;
}