{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "modules": false,
      "targets": {
        "browsers": ["last 5 versions"]
      }
    }],
    "@babel/react"
  ],
  "sourceMaps": true,
  "plugins": [
    ["@babel/plugin-transform-strict-mode", { "strict": false }],
    "@babel/plugin-transform-classes"
  ],
  "minified": false
}
