{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "targets": {
        "browsers": ["last 5 versions", "ie >= 10"]
      }
    }]
  ],
  "sourceMaps": true,
  "sourceFileName": "./Widget.js",
  "plugins": [
    ["transform-strict-mode", {
      "strict": false
    }]
  ],
  "minified": true
}
