#panoramaViewerDiv {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}

.cmt.close-button{
    width: 37px;
    height: 37px;
}

#sidePanel {
    position: absolute;
    right: 0px;
    width: 330px;
    height: 100%;
    background-color: white;
    transition: width 0.5s linear;
    z-index: 15;
    overflow: hidden;
    overflow-y: auto;
}

#sidePanel.slide-out-panel{
    width: 0px;
    overflow: hidden;
}

#measurementPanel{
    min-width: 330px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: visible;
}

#side-panel-close-button{
    width: 28px;
    height: 28px;
    background-color: unset;
    margin: 9px;
    padding: 0px;
    border: 0px;
    transform: rotate(-90deg);
    font-size: 24px;
}

#zoom-warning {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: -25px;
}

.cmt .mosaic-tile{
    margin: 0px;
}

.checkbox-span{
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid rgba(0,82,147,.8);
    padding: 0;
    margin: 0 5px 0 0;
    justify-self: center;
    align-self: center;
    position: relative;
}

.checkbox-span.selected:after{
    content: "";
    position: absolute;
    display: block;
}

.checkbox-span:after{
    left: 6px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid rgba(0,82,147,.8);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.layer-row{
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #dedede;
    font-family: sans-serif;
    background-color: white;
    color: rgba(0,82,147,.8);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.layer-row > label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.layer-row.selected {
    background-color: rgba(0,82,147,.8);
    color: white ;
}

.layers-list{
    display: flex;
    flex-direction: column;
    margin: 9px;
}

.measurement-types-list{
    color: rgba(0,82,147,.8);
    display: flex;
    flex-direction: column;
    margin: 9px;
}
.measurement-types-list >h2{
    padding: 5px;
    font-size: 16px;
    text-align: center;
    min-width: 100%;
    margin-top: 5px;
}
.cmt.measurement-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 15px 0 15px;
    min-width: 100%;
}

button.measurement-button.glyphicon {
    min-width: 70px;
    width: 70px;
    height: 70px;
    font-size: 28px;
    color: white;
    background: #98c23c;
    border: 1px solid #98c23c;
    border-radius: 50%;
    margin-right: 10px;
}

.flex-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none !important;
}

.jimu-widget-streetsmartview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cmt {
    background: none !important;
}

.cmt .window-manager-container .window{
    margin : 0px !important;
}

.cmt .window-manager-container {
    padding : 0px !important;
}

#addGeoJsonBtn{
    background-image: url('../images/addJson.png');
    background-repeat: no-repeat;
    background-position: center;
}

#addGeoJsonBtn:hover{
    background-image: url('../images/addHoverJson.png') !important;
    background-repeat: no-repeat;
}

#addMapDropBtn{
    background-image: url('../images/mapDrop.png');
    background-repeat: no-repeat;
    background-position: center;
}

#addMapDropBtn:hover{
    background-image: url('../images/mapDropHover.png') !important;
    background-repeat: no-repeat;
}

#uploadJsonBtn{
    display: none;
}

.claro .dijitTooltipContainer{
    background-color: black !important;
    background-image: none !important;
    color : white !important;
    border :  none !important;
}

.street-indicator{
    right: 0;
    position: absolute;
    top: 10px;
    color: white;
    z-index: 2;
    left: 0;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.street-indicator span {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    height: auto;
    margin: 0;
}

.address-bar {
    position: absolute;
    margin: auto;
    background-color: rgb(152, 194, 60);
    padding: 2px;
    border-radius: 5px;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.inner-address-bar {
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt *,
.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .btn-secondary-right:hover span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt.viewer .cmtNavBarPanel .nav-stacked>li a,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .panel-default .panel-heading,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .modal  .btn.btn-default *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .btn.btn-default:hover *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar.expandable-navbar .btn.btn-default:focus *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown .dropdown-menu li:hover a>span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown:hover .btn.btn-default,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown:hover .btn.btn-default *{
    color: white !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .slider-tick-label,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .dropdown-menu>li>a,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .cmtImageInformationPanel .tab-content *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .custom-slider .range-labels li,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-floating-panel *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown .dropdown-menu a>span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv > div > div > div.measurement-select-modal.fade.in.modal > div > div > div.modal-body > div > div > div > span {
    color: #005293 !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .btn-secondary-right span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar  .btn.btn-default *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .cmt-navbar.measurement-navbar *,
.dart-panel .jimu-widget-frame.jimu-container .cmt .window .recordingTimestamp .timetravelToggle:hover,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .windowcontrols button:hover * {
    color: #98c23c !important;
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-panel-error-message p span {
    color: #9c7f4b !important
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-navbar .navbar-nav .btn-default:disabled .glyphicon {
    color: #bcbdbc !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body label.control-label,
.dart-panel .jimu-widget-frame.jimu-container .cmt .layerpanel .checkbox span{
    color: #666 !important;
}
.dart-panel .jimu-widget-frame.jimu-container .timetravel .travelDate span {
    color: #2c3e50 !important;
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-floating-panel .warning span {
    color: #ec7a08 !important
}
