#panoramaViewerDiv {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#zoom-warning {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: -25px;
}

.cmt .mosaic-tile{
    margin: 0px;
}

.hidden {
    display: none !important;
}

.jimu-widget-streetsmartview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cmt {
    background: none !important;
}

.cmt .window-manager-container .window{
    margin : 0px !important;
}

.cmt .window-manager-container{
    padding : 0px !important;
}

#addGeoJsonBtn{
    background-image: url('../images/addJson.png');
    background-repeat: no-repeat;
    background-position: center;
}

#addGeoJsonBtn:hover{
    background-image: url('../images/addHoverJson.png') !important;
    background-repeat: no-repeat;
}

#addMapDropBtn{
    background-image: url('../images/mapDrop.png');
    background-repeat: no-repeat;
    background-position: center;
}

#addMapDropBtn:hover{
    background-image: url('../images/mapDropHover.png') !important;
    background-repeat: no-repeat;
}

#uploadJsonBtn{
    display: none;
}

.claro .dijitTooltipContainer{
    background-color: black !important;
    background-image: none !important;
    color : white !important;
    border :  none !important;
}

.street-indicator{
    right: 0;
    position: absolute;
    top: 10px;
    color: white;
    z-index: 2;
    left: 0;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.street-indicator span {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    height: auto;
    margin: 0;
}

.address-bar {
    position: absolute;
    margin: auto;
    background-color: rgb(152, 194, 60);
    padding: 2px;
    border-radius: 5px;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.inner-address-bar {
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt *,
.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .btn-secondary-right:hover span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt.viewer .cmtNavBarPanel .nav-stacked>li a,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .panel-default .panel-heading,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .modal  .btn.btn-default *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .btn.btn-default:hover *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar.expandable-navbar .btn.btn-default:focus *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown .dropdown-menu li:hover a>span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown:hover .btn.btn-default,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown:hover .btn.btn-default *{
    color: white !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .slider-tick-label,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .dropdown-menu>li>a,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .cmtImageInformationPanel .tab-content *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .custom-slider .range-labels li,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-floating-panel *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar .measurement-dropdown .dropdown-menu a>span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv > div > div > div.measurement-select-modal.fade.in.modal > div > div > div.modal-body > div > div > div > span {
    color: #005293 !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body .btn-secondary-right span,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .navbar  .btn.btn-default *,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .cmt-navbar.measurement-navbar *,
.dart-panel .jimu-widget-frame.jimu-container .cmt .window .recordingTimestamp .timetravelToggle:hover,
.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .windowcontrols button:hover * {
    color: #98c23c !important;
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-panel-error-message p span {
    color: #9c7f4b !important
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-navbar .navbar-nav .btn-default:disabled .glyphicon {
    color: #bcbdbc !important;
}

.dart-panel .jimu-widget-frame.jimu-container .cmt .cmtViewerPanel .panel-body label.control-label,
.dart-panel .jimu-widget-frame.jimu-container .cmt .layerpanel .checkbox span{
    color: #666 !important;
}
.dart-panel .jimu-widget-frame.jimu-container .timetravel .travelDate span {
    color: #2c3e50 !important;
}

.dart-panel .jimu-widget-frame.jimu-container #panoramaViewerDiv .cmt .measurement-floating-panel .warning span {
    color: #ec7a08 !important
}
